$bg: #171a1e;
$fg: lighten($bg,60%);

$hi: #39a086;
$hib: #24d6a6;

$error: #d84966;
$warn: #b27b1c;

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
$helvetica: Helvetica, Arial, sans-serif;
$opensans: 'Open Sans', sans-serif
    
